.book {
    padding: 130px 0;
    background: resolve('images/bg/book.jpg') no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    background-size: 100% 60%;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
