.header {
    margin-bottom: 28px;
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__nav,
    &__langs {
        padding-bottom: 24pr;
        border-bottom: 1px solid rgba(231, 231, 242, 0.5);
        flex: 0 1 31.6%;
    }
    &__logo {
        @util size(392px, 156px);
        margin-top: -35px;
        display: block;
    }
    &__bottom {
        display: flex;
        justify-content: center;
    }
}
