body.webp .suggestions {
    background-image: image-set(
        url('../images/bg/suggestions_xs.webp') 1x,
        url('../images/bg/suggestions_xs@2x.webp') 2x
    );

    @media (--small) {
        background-image: image-set(
            url('../images/bg/suggestions_sm.webp') 1x,
            url('../images/bg/suggestions_sm@2x.webp') 2x
        );
    }

    @media (--large) {
        background-image: image-set(
            url('../images/bg/suggestions.webp') 1x,
            url('../images/bg/suggestions@2x.webp') 2x
        );
    }
}

body.no-webp .suggestions {
    background-image: image-set(
        url('../images/bg/suggestions_xs.jpg') 1x,
        url('../images/bg/suggestions_xs@2x.jpg') 2x
    );

    @media (--small) {
        background-image: image-set(
            url('../images/bg/suggestions_sm.jpg') 1x,
            url('../images/bg/suggestions_sm@2x.jpg') 2x
        );
    }

    @media (--large) {
        background-image: image-set(
            url('../images/bg/suggestions.jpg') 1x,
            url('../images/bg/suggestions@2x.jpg') 2x
        );
    }
}

.suggestions {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 52px 0 50px 0;
    @media (--large) {
        padding: 80px 0 100px 0;
    }
    &.suggestions_extra {
        padding: 40px 0 50px 0;
        @media (--large) {
            padding: 90px 0 100px 0;
        }
    }
    /*&_extra {
        @media (--medium-viewport) {
            padding: 40px 0 50px 0;
        }
    }*/
}
.suggestions__title {
    position: relative;
    margin-left: -50vw;
    margin-right: 4vw;
    padding: 12px 10px 12px 50vw;
    background: #244018;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
    font-family: Raleway;
    font-weight: 800;
    font-size: 1.28rem;
    line-height: 32px;
    color: #ffffff;
    border-radius: 0 15px 15px 0;
    margin-bottom: 28px;
    @media (--large) {
        margin-right: 0;
        /* font-size: 24px; */
        padding: 14px 10px 14px 50vw;
        margin-bottom: 30px;
    }
}

.suggestions__list {
    display: flex;
    flex-direction: column;
    &.suggestions__list_row {
        flex-direction: row;
        flex-wrap: wrap;
        & .suggestions__item {
            width: 100%;
            @media (--medium) {
                width: 50%;
            }
            @media (--extra-large) {
                width: 33.3333%;
            }
            /* width: 33.3333%;
            @media (--large-viewport) {
            }
            @media (--medium-viewport) {
                width: 100%;
            } */
        }
    }
}
.suggestions__item {
    display: flex;
    align-items: flex-start;
    font-size: 1rem;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #181818;
    margin-bottom: 16px;
    mix-blend-mode: normal;
    text-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
    @media (--large) {
        /* font-size: 20px; */
        line-height: 23px;
        margin-bottom: 30px;
    }
    @media (--mega-large) {
        font-size: 0.9rem;
    }
}
.suggestions__point {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    @util size(16px);
    border: 3px solid #244018;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 12px;
    @media (--large) {
        @util size(20px);
        border: 5px solid #244018;
        margin-right: 19px;
        margin-top: 3px;
    }
    @media (--mega-large) {
        @util size(16px);
        border: 3px solid #244018;
    }
    &::before {
        content: '';
        display: block;
        @util size(4px);
        background: #244018;
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
    }
}

.suggestions__left {
    margin-bottom: 35px;
    @media (--large) {
        width: 36.7%;
        margin-right: 20px;
        margin-bottom: 0;
    }
}
.suggestions__right {
    @media (--large) {
        width: 44%;
        padding-top: 14px;
    }
}

.suggestions__subtitle {
    font-family: Raleway;
    font-weight: 800;
    font-size: 1.28rem;
    line-height: 25px;
    color: #244018;
    margin-bottom: 30px;
    @media (--large) {
        /* font-size: 24px; */
        line-height: 32px;
        margin-bottom: 45px;
    }
}

.suggestions__wrapper {
    @media (--large) {
        display: flex;
        justify-content: space-between;
        padding: 0 5%;
    }
}

.suggestions__extra-title {
    font-family: Raleway;
    font-size: 1.5rem;
    line-height: 135%;
    text-transform: uppercase;
    color: #244018;
    margin-bottom: 22px;
    @media (--medium) {
        /* font-size: 36px; */
        margin-bottom: 52px;
    }
    & span {
        font-size: 1.14rem;
        line-height: 150%;
        text-transform: none;
        @media (--medium) {
            font-weight: 200;
            /* font-size: 24px; */
            letter-spacing: 0.01em;
        }
    }
}
.suggestions__extra-wrapper {
    padding: 0 4.7%;
}
