{
    "env": {
        "browser": true
    },
    "extends": ["airbnb", "airbnb/hooks", "prettier", "prettier/react"],
    "plugins": ["prettier"],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/button-has-type": [
            0,
            {
                "button": true,
                "submit": true,
                "reset": true
            }
        ]
    }
}
