<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        .wrapper
            section.booking
                .booking__wrapper
                    .container
                        .booking__header
                            include ./sections/header.pug
                    .booking__calendar
                        .container
                            h2.booking__title Book a time - 
                                span pick a day:
                            #calendar
            include ./sections/footer.pug
        include ./sections/burger.pug
