.calendar
    button.calendar__control-big.btn-arrow.btn-arrow_arrow.calendar__control-big_left
    .calendar__item.calendar__item_first
        .calendar__item-control
            button.calendar__control-sm.calendar__control-sm_left
            .calendar__current May 2020
            button.calendar__control-sm.calendar__control-sm_right.calendar__control-sm_disable
        .calendar__content
            table
                thead
                    tr
                        td sun
                        td mon
                        td tue
                        td wed
                        td thu
                        td fri
                        td sat
                tbody
                    tr
                        td 
                            a.calendar__link 28
                        td 
                            a.calendar__link 29
                        td 
                            a.calendar__link 30
                        td 
                            a.calendar__link 1
                        td 
                            a.calendar__link 2
                        td 
                            a.calendar__link 3
                        td 
                            a.calendar__link 4
                    tr
                        td 
                            a.calendar__link 5
                        td 
                            a.calendar__link 6
                        td 
                            a.calendar__link 7
                        td 
                            a.calendar__link 8
                        td 
                            a.calendar__link 9
                        td 
                            a.calendar__link.calendar__link_disable 10
                        td 
                            a.calendar__link 11
                    tr
                        td 
                            a.calendar__link 12
                        td 
                            a.calendar__link 13
                        td 
                            a.calendar__link 14
                        td 
                            a.calendar__link 15
                        td 
                            a.calendar__link 16
                        td 
                            a.calendar__link 17
                        td 
                            a.calendar__link 18
                    tr
                        td 
                            a.calendar__link 19
                        td 
                            a.calendar__link.calendar__link_disable 20
                        td 
                            a.calendar__link 21
                        td 
                            a.calendar__link 22
                        td 
                            a.calendar__link 23
                        td 
                            a.calendar__link 24
                        td 
                            a.calendar__link 25
                    tr
                        td 
                            a.calendar__link 26
                        td 
                            a.calendar__link 27
                        td 
                            a.calendar__link 28
                        td 
                            a.calendar__link 29
                        td 
                            a.calendar__link 30
                        td 
                            a.calendar__link 31
                        td 
                            a.calendar__link 1
    .calendar__item.calendar__item_second
        .calendar__item-control
            button.calendar__control-sm.calendar__control-sm_left
            .calendar__current June 2020
            button.calendar__control-sm.calendar__control-sm_right
        .calendar__content
            table
                thead
                    tr
                        td sun
                        td mon
                        td tue
                        td wed
                        td thu
                        td fri
                        td sat
                tbody
                    tr
                        td 
                            a.calendar__link 26
                        td 
                            a.calendar__link 27
                        td 
                            a.calendar__link 28
                        td 
                            a.calendar__link 29
                        td 
                            a.calendar__link 30
                        td 
                            a.calendar__link 31
                        td 
                            a.calendar__link 1
                    tr
                        td 
                            a.calendar__link 2
                        td 
                            a.calendar__link 3
                        td 
                            a.calendar__link 4
                        td 
                            a.calendar__link 5
                        td 
                            a.calendar__link 6
                        td 
                            a.calendar__link.calendar__link_disable 7
                        td 
                            a.calendar__link 8
                    tr
                        td 
                            a.calendar__link 9
                        td 
                            a.calendar__link 10
                        td 
                            a.calendar__link 11
                        td 
                            a.calendar__link 12
                        td 
                            a.calendar__link 13
                        td 
                            a.calendar__link 14
                        td 
                            a.calendar__link 15
                    tr
                        td 
                            a.calendar__link 16
                        td 
                            a.calendar__link.calendar__link_disable 17
                        td 
                            a.calendar__link 18
                        td 
                            a.calendar__link 19
                        td 
                            a.calendar__link 20
                        td 
                            a.calendar__link 21
                        td 
                            a.calendar__link 22
                    tr
                        td 
                            a.calendar__link 23
                        td 
                            a.calendar__link 24
                        td 
                            a.calendar__link 25
                        td 
                            a.calendar__link 26
                        td 
                            a.calendar__link 27
                        td 
                            a.calendar__link 28
                        td 
                            a.calendar__link 29
    button.calendar__control-big.btn-arrow.btn-arrow_arrow.calendar__control-big_right