section.suggestions
    .container
        h2.suggestions__extra-title 
            | Extras suggestions: 
            span (Check prices via our email)
        ul.suggestions__list.suggestions__list_row
            li.suggestions__item 
                span.suggestions__point
                | 2 hours extra in the estate
            li.suggestions__item 
                span.suggestions__point
                | ”Katarinas Secret” suite
            li.suggestions__item 
                span.suggestions__point
                | One night in the estate
            li.suggestions__item 
                span.suggestions__point
                | 4 hours extra in the estate
            li.suggestions__item 
                span.suggestions__point
                | ”Katarinas dream” suite