footer.footer
    .container.footer__container
        .footer__nav
            nav.nav.nav_footer
                +nav('nav', nav)
        .footer__langs
            .langs
                +langs('langs', langs)
