section.main-screen
    .main-screen__wrapper
        .container
            .main-screen__header
                include ./header.pug
            h1.main-screen__title It is your paradise of pleasures
                object(type="image/svg+xml" data=require('images/main-screen.svg').default).main-screen__icon
        .main-screen__fantazi.fantazi
            .fantazi__left
                +picture('fantazi', '', 'fantazi')
            .fantazi__right
                a(href="#").fantazi__down Enjoy it
                .fantazi__text Feel a fantasy like you imagined
                button.fantazi__btn