section.members
    .container
        .baner.members__baner
            .baner__left
                +icon('Info', 'baner__icon')
                .baner__text 
                    span Very limited members club, 
                    | only for classy men who wants to experience heaven on earth.
            .baner__right
                .baner__title You will receive the best VIP discreet service.
        .members__wrapper
            h3.members__title Our members :
            ul.members__list
                li.members__item Business men
                li.members__item Politicians
                li.members__item Bankers
                li.members__item The top seniors in the world
            .members__text 
                p They are long time customers with the taste of successful self-fulfillment. 
                p We decided to expand our membership club to the highest quality audience and give you our luxury conditions in our exclusive estate.
