section.rooms
    .container.rooms__wrapper
        h2.rooms__title Extras rooms/suits:
        .rooms__baner
            .rooms__baner-left
                h3.rooms__subtitle Katarinas Secret
                .rooms__text 
                    p Our luxury suite, rich and classic living space design.
                    p Guests can enjoy the royal Jacuzzi and conditions with the amazing view.
            .rooms__baner-right
                h3.rooms__subtitle.rooms__subtitle_white Katarinas Dream
                .rooms__text.rooms__text_white 
                    p The most prestigious suite with magnificent balcony and royal Jacuzzi. 
                    p Our guests can enjoy the spectacula and unique view.
                object(type="image/svg+xml" data=require('images/flower.svg').default).rooms__img
