section.suggestions
    .container
        .suggestions__title Our suggestions include :
        .suggestions__wrapper
            .suggestions__left
                ul.suggestions__list
                    li.suggestions__item 
                        span.suggestions__point
                        | Luxury hosting menus.
                    li.suggestions__item 
                        span.suggestions__point
                        | Four hours free staying in our estate.
                    li.suggestions__item 
                        span.suggestions__point
                        | Private high quality rooms and suites.
                    li.suggestions__item 
                        span.suggestions__point
                        | Bathrobe and spa shoes.
                    li.suggestions__item 
                        span.suggestions__point
                        | Free barbecue, bar and drinks.
                    li.suggestions__item 
                        span.suggestions__point
                        | Chocolates and fruits in the room.
                    li.suggestions__item 
                        span.suggestions__point
                        | Free choice of our sweet ladies who want to get to know you and have an extraordinary experience with you (the rest of the details we leave you to imagine).
                    li.suggestions__item 
                        span.suggestions__point
                        | Dreamy and delightful massage.
                    li.suggestions__item 
                        span.suggestions__point
                        | Vip enclosure all included.
                    li.suggestions__item 
                        span.suggestions__point
                        | You can always choose more of our high quality ladies. 
                    li.suggestions__item 
                        span.suggestions__point
                        | Deluxe cleaning service.
            .suggestions__right
                .suggestions__subtitle In our included rooms/suites you will find :
                ul.suggestions__list
                    li.suggestions__item 
                        span.suggestions__point
                        | Big soft bed.
                    li.suggestions__item 
                        span.suggestions__point
                        | Television.
                    li.suggestions__item 
                        span.suggestions__point
                        | Air-Conditioner.
                    li.suggestions__item 
                        span.suggestions__point
                        | Room services by your ladies.
                    li.suggestions__item 
                        span.suggestions__point
                        | Scented candles.
                    li.suggestions__item 
                        span.suggestions__point
                        | Shower&Toilet.
                    li.suggestions__item 
                        span.suggestions__point
                        | New luxury towels.
                    li.suggestions__item 
                        span.suggestions__point
                        | Body soaps.
                    li.suggestions__item 
                        span.suggestions__point
                        | Premium mini bar.
                    li.suggestions__item 
                        span.suggestions__point
                        | Safe box.